<center>
  <% if session[:user_id] %>
    <%= button_to "Logout", logout_path, method: :delete %>
  <% else %>
    <%= button_to "Create a New User", register_path, method: :get %>
    <%= button_to "Log In", login_path, method: :get %>
  <% end %>
</center>

<center>
  <body>
  <% if session[:user_id] %>
    <h2>Existing Users</h2>
    <div class="users">
      <% @users.each do |user| %>
      <section id="user-<%= user.id %>">
        <%=  user.email %> </section>
      <% end %>
    </div> 
  <% end %> 
  </body>
</center>
